.breadcrub-blue{
    color: #3577f0;
}

.breadcrub-title{
    color: silver;
}
.breadcrub-home{
    text-decoration: none;
    color: silver;
}
.breadcrub-home:hover{
    text-decoration: none;
    color: #3577f0;
}
.breadcrumb-title{
    padding: 1rem;
}

.breadcrumb-area{
    background-color: #f9f3f0;
    padding: 2rem;
}
.bradcrumb-image{
    text-align: right;
}